.leave-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    margin-left: 50px;
    position: relative;
  }
  
  .leave-form h2 {
    margin-bottom: 20px;
  }
  
  .leave-form label {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .leave-form input[type="text"],
  .leave-form input[type="date"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .leave-form input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .leave-form input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  .leave-application {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .leave-application h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  button[type="submit"] {
    display: flex;
    width: 100%;
    padding: 10px;
    color: rgb(177, 10, 243);
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }