.check-in-out {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 3.1%;
}

.check-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #9c13f7;
  color: white;
  border: none;
  border-radius: 4px;
  margin-bottom: 20px;
  margin-right: 0%;
}

.check-btn:hover {
  background-color: #790bac;
  cursor: pointer;
}

.check-time {
  font-size: 20px;
  font-weight: bold;
}
