<div class="container">
    <div class="header">
      <div class="attendence-summary">Attendence Summary</div>
      <div class="todays-date">{{ today | date }}</div>
    </div>
    <div class="boxes">
      <div class="box">
        <div class="value">1</div>
        <div class="text">Absents</div>
      </div>
      <div class="box">
        <div class="value">3</div>
        <div class="text">Missing Punch</div>
      </div>
      <div class="box">
        <div class="value">3</div>
        <div class="text">Short Duration</div>
      </div>
      <div class="box">
        <div class="value">7</div>
        <div class="text">Late Arrivals</div>
      </div>
      <div class="box">
        <div class="value">0</div>
        <div class="text">Early Left</div>
      </div>
      <div class="box">
        <div class="value">0</div>
        <div class="text">Leaves</div>
      </div>
      <div class="box">
        <div class="value">4</div>
        <div class="text">Presents</div>
      </div>
    </div>
  </div>
