<div class="empData">
    <div class="container">
      <div class="header">
        <div class="attendence-summary">Departments Summary</div>
        <div class="todays-date">{{ today | date }}</div>
      </div>
      <div class="boxes">
        <div class="box">
          <div class="value">{{totalDepartments}}</div>
          <div class="text">Total</div>
        </div>
        <div class="box">
          <div class="value">93</div>
          <div class="text">Performance</div>
        </div>
        <div class="box">
          <button class="value" id="addButton" (click)="addDeptForm()">+</button>
          <div class="text">Add Department</div>
        </div>
      </div>
    </div>
  </div>
  
  
<div class="tableContainer">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Department ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <!-- <th scope="col">Employees</th> -->
  
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let dept of alldepartments; let i = index">
        <tr (click)="toggleRow(i)">
          <td>{{dept.depId}}</td>
          <td>{{dept.name}}</td>
          <td><button class="btn btn-outline-primary me-2" type="button">{{ isRowExpanded(i) ? 'Hide' : 'Description'
          }}</button></td>
          
        </tr>

        <tr *ngIf="isRowExpanded(i)">
          <td  colspan="5">
            <p><strong>Description: </strong> {{dept.description}}</p>
          </td>
        </tr>

  
  
  
  
      </ng-container>
    </tbody>
  </table>
  
  <div *ngIf="fetchingAllDepartments == true" class="fetchingData">
    <h1>Fetching data ...............</h1>
  </div>
  
  </div>
  
