.mainQuote{
    margin-top: 40px;
    border: 2px solid #9c13f7;
    padding: 28px;
    height: 151px;
    
}


h2{
    display: flex;
    align-content: center;
    size: 20px;
    margin: auto;
    color:rgb(174, 0, 255);
    justify-content: center;
}

p{
    margin-top: 10px;
    display: flex;
    align-content: center;
    size: 7rem;
    text-align: center;
    justify-content: center;
}  
