.loginform{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    
    background-image: url('../../../assets/Images/Login/image02.jpg');
    background-repeat:no-repeat;
    background-size:cover ;
    
    background-color: var(--bgPrimaryColor) ;
    color: var(--primaryColor);
    border: 2px solid var(--bgPrimaryColor);
    height: var(--formHeight);
    width: var(--formWidth);
    
}


.emailBox,.passwordBox{
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-right: 10px;
    
}

.loginform i{  
    padding: 5px;
    font-size: 16px;
}


.loginform input{
    padding: 5px;
    background-color: var(--bgTertiaryColor);
    border: none;
    border-radius: 5px;
    width: var(--inputWidth);    
}

.emailBox input{
    margin-left: 33px;
}

.loginform label{
    margin-right: 10px;
    margin-left: 5px;
    font-size: var(--primaryFontSize);
}

.invalid{
    margin-left: 167px;
}

.forgetPassword a{
    text-decoration: none;
    color: var(--primaryColor);
}
.loginButton{
    background-color: var(--primaryColor);
    color: rgb(0, 0, 0);
}