<!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"> -->
<div id="completeScreen">
    <img id = "bg" src="../../../assets/Images/Login/img05.jpg" alt="">
    <div class="loginform">
        <form [formGroup]="loginForm" (ngSubmit)="checkUserVerification(loginForm)">
            <div class = "logo">
                <img src="../../../assets/Images/Login/image06-logo.png" alt="">
            </div>

            <div class="heading">
                <h1>OFFICING EDGE</h1>
            </div>
            <div class="emailBox">
                <i class='bx bx-user'></i>
                <label for="username">Username</label>
                <input type="text" name="username" formControlName="username"><br>

            </div>
            <div class="invalid" *ngIf="
    loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
                <small *ngIf="loginForm.get('username')?.hasError('required')">Username is required</small>
            </div>

            <div class="passwordBox">
                <i class='bx bx-lock-alt'></i>
                <label for="password">Password</label>
                <input type="{{ passwordFieldType}}" name="password" formControlName="password">
                <i class="fa eyeIcon" [ngClass]="passwordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'"
                    id="togglePassword" style="margin-left: -30px; cursor: pointer;"
                    (click)="togglePasswordVisibility()"></i><br>

            </div>
            <div class="invalid" *ngIf="
    loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)
    ">
                <small *ngIf="loginForm.get('password')?.hasError('required')">Password is required</small>
            </div>

            <div *ngIf="showInvalidUserText" class="invalid-text">
                <p>Invalid username or password</p>
            </div>
            <button type="submit" class="loginButton">Login</button>
            <div class="forgetPassword">
                <a [routerLink]="'/forgetPassword'">Forgot your password?</a>
            </div>
        </form>
    </div>
</div>