<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="box">
    <div class="container">
        <!-- This Image is Just a demo image to show you that images can be used but you have to sotre them in the assests
        Folder in this Angular App. Bellow in the img tag, src is showing path. "../" means going one folder behind. VS Code will also give inteliscense
        about what folders are available -->
        
        <div class="top">
            
            <header>OFFICING EDGE</header>
            <!-- <img src="../../../assets/Images/UserInterface/UserNavbar/logo-icon.png" alt="" id="logo" width="50px">  -->
            <span>LOGIN</span>

        </div>

        <div class="input-field">
            <input type="text" class="input" placeholder="Username" id="">
            <i class='bx bx-user' ></i>
        </div>

        <div class="input-field special">
            <input type="{{ passwordFieldType }}" class="input" placeholder="Password" id="">
            <i class='bx bx-lock-alt' ></i>
            <!-- <i class="fa fa-eye" aria-hidden="true" id="eyeIcon"></i> -->
            
                <!-- <i class="fa" (click)="togglePasswordVisibility()" [ngClass]="passwordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'" id="eyeIcon"></i> -->
            
            
        </div>

        <div class="input-field">
            <button type="submit" class="submit" value="Login" id="" (click)="movetouser()">Login</button>
            
        </div>

        <div class="two-col">
            <div class="one">
               <input type="checkbox" name="" id="check">
               <label for="check"> Remember Me</label>
            </div>
            <div class="two">
                <label><a href="#">Forgot password?</a></label>
            </div>
        </div>
    </div>

