:root{
    /* Colors */
    --primaryColor:rgb(232, 248, 241);
    --secondaryColor:rgb(136, 6, 243);
    --tertiaryColor:yellow;
    --bgPrimaryColor:rgb(0, 255, 13);
    --bgSecondaryColor:rgb(64, 66, 65);
    --bgTertiaryColor:rgb(9, 73, 72);
    
    
    /* Input */
    --inputWidth:200px;

    /* Fonts */
    --primaryFontSize:17px;

    /* Form */
    --formHeight:500px;
    --formWidth:300px;
}