<div>
    <form [formGroup]="dept_add" (ngSubmit)="storeDept(dept_add)">
      
      <div class="inpName">
        <label for="floatingTextarea">Name</label>
        <input placeholder="Department Name" id="floatingTextarea" formControlName="dept_name"/>
      </div>
      
      <div class="inpDesc">
        <label for="floatingTextarea2">Description</label>
        <textarea placeholder="Write description here" id="floatingTextarea2" formControlName="dept_description"></textarea>
      </div>

      <button type="submit" >{{loading ? "Adding ........" : 'Add Departmnet'}}</button>
    </form>
</div>
