<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"> -->

<h1 class="container">If you have forgot your password then try to remember it. This is the only solution we have so
  far!!!!</h1>
<form [formGroup]="loginForm" (ngSubmit)="checkUserVerification(loginForm)" class="loginform">

  <i class='bx bx-user' ></i>
  <label for="email">Email</label>
  <input type="email" name="email" formControlName="email"><br>
  <div *ngIf="
  loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
  <small *ngIf="loginForm.get('email')?.hasError('required')">Email is required</small>
  <small *ngIf="loginForm.get('email')?.hasError('email')">Invalid email format</small>
</div>

<i class='bx bx-lock-alt'></i>
  <label for="password">Password</label>
  <input type="{{ passwordFieldType}}" name="password" formControlName="password">
  <i class="fa" [ngClass]="passwordFieldType === 'password' ? 'fa-eye' : 'fa-eye-slash'" id="togglePassword" style="margin-left: -30px; cursor: pointer;" (click)="togglePasswordVisibility()"></i><br>
  <div *ngIf="
  loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)
  ">
  <small *ngIf="loginForm.get('password')?.hasError('required')">Password is required</small>
</div>

  <button type="submit">Login</button>
</form>